/* GENERAL PRESETS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */


/* HEADER - MENU'*/


/* JUMBOTRON */


/* MAIN */


/* MAIN - CONTAINER 1 */


/* MAIN - CONTAINER 2 */


/* MAIN - CONTAINER 3 */


/* MAIN - CONTAINER 4 */


/* FOOTER */


/* FOOTER - CONTACS */


/* FOOTER - CREDITS */


