/* GENERAL PRESETS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1550px;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 1180px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#discord {
  text-transform: capitalize;
}

.float {
  float: left;
}


/* HEADER */

header {
  background-color: #3161E0;
  height: 100px;
  line-height: 100px;
}


/* HEADER - MENU'*/


.logo img {
  vertical-align: middle;

}

.menu {
  text-align: center;
  width: calc(100% - 200px);
}


nav li {
  display: inline-block;
}


nav li a { 
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  padding-right: 30px;
  ;
}

nav ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.button {
  color: black;
  background-color: white;
  padding: 10px 10px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.button:hover {
  color: #3161E0
}


/* JUMBOTRON */

.jumbotron {
  height: 550px;
  padding: 75px;
  background: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;

}

.jumbotron-text {
  color: white;
  text-align: center;
}

.jumbotron h1 {
font-size: 50px;
margin-bottom: 30px;
}

.jumbotron p {
  font-size: 20px;
  line-height: 30px;
  padding: 0 180px;
}

.jumbo-button {
  padding-top: 50px;
}

.jumbo-button a{
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 50px;
  margin: 0 10px;
}

.jumbo-button a:hover {
text-decoration: underline;
font-weight: bold;
}

.mac {
  background-color: #FFFFFF;
  color: #000000
}
.mac:first-of-type {

}

.browser {
  background-color: #000000;
  color: #FFFFFF;
}


/* MAIN */



/* MAIN - CONTAINER 1 */

.content-1 {
  background-color: #FFFFFF;
  min-height: 600px;
  padding-top: 100px;
}

.content-1-img {
  width: 50%;
}

.content-1-text{
  width: 50%;
  padding: 30px 0 0 250px;
}

.content-1-text h2 {
  padding-right: 50px;
  font-size: 40px;
}

.content-1-text p {
  padding-top: 20px;
  padding-right: 10px;
  font-size: 18px;
}


/* MAIN - CONTAINER 2 */

.content-2 {
  background-color: #F6F6F6;
  min-height: 600px;
  padding-top: 100px;
}

.content-2-img {
  width: 50%;
}

.content-2-text {
  width: 50%;
}


.content-2-text h2 {
  font-size: 40px;
  padding-right: 200px;
}

.content-2-text p {
  padding-right: 260px;
  padding-top: 20px;
  font-size: 18px;
}


/* MAIN - CONTAINER 3 */


.content-3 {
  background-color: #FFFFFF;
  min-height: 600px;
  padding-top: 100px;
}

.content-3-img {
  width: 50%;
}

.content-3-text {
  width: 50%;
  padding-top: 80px;
  padding-left: 170px;
}


.content-3-text h2 {
  font-size: 40px;

}

.content-3-text p {

  font-size: 18px;
}


/* MAIN - CONTAINER 4 */

.content-4 {
  background-color: #F6F6F6;
  padding: 100px 0;
  text-align: center;
}

.content-4-text-1 h1 {
  font-size: 40px;
  padding: 25px 0;
}


.content-4-text-1 h1::first-letter {
  text-transform: capitalize;
}

.content-4-text-1 p {
  padding: 0 450px;
}

.content-4-text-2 img {
  width: 35%;
}

.content-4-text-2 h1 {
padding-top: 10px;
}

.content-4-text-2 h1::first-letter {
text-transform: capitalize;
}


/* FOOTER */

.footer-top {
  background-color: #23272A;
  padding-top: 100px;
  display: inline-block;
}
  
.contact {
  float: left;
  display: flex
}

.contact ul li {
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
}

.contact ul li a {
  color: #FFFFFF;
  text-decoration: none;
}




/* FOOTER - CONTACS */


/* FOOTER - CREDITS */


